.miqi-dialog-icon {
	position: absolute;
	cursor: pointer;
}

.miqi-dialog-icon.miqi-icon-key-small {
	width: 16px;
	height: 16px;
	background-image: url("chrome-extension://__MSG_@@extension_id__/icons/key_16x16.png");
}

.miqi-dialog-icon.miqi-icon-key-big {
	width: 24px;
	height: 24px;
	background-image: url("chrome-extension://__MSG_@@extension_id__/icons/key_24x24.png");
}
